<!doctype html>
<html lang="ru">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Refresh" content="60"/>
    <link rel="stylesheet" href="{% static 'landing/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'bulma/bulma.sass' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/api.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/weather_api.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/w_ico.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sensor.css' %}">
    <link rel="shortcut icon" href="{% static 'images/control-panel.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <script src="{% static 'js/bulma-manu-burger.js' %}"></script>
    {% if panel_style_primary == "light" %}
        <style>
            svg {
                -webkit-filter: invert(100%);
                /* safari 6.0 - 9.0 */
                filter: invert(100%);
            }

        </style>
        <link rel="stylesheet" type="text/css" href="{% static 'css/light-panel.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/dark-panel.css' %}">
    {% endif %}
    <script src="{% static 'js/time.js' %}"></script>
    <script src="{% static 'js/bulma-modal.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Панель</title>
    {% include "onesignal.html" %}
</head>

<body>
{% include "metrics.html" %}


<header class="animated bounceInDown">
    {% include 'components/panel/navigation.html' %}
</header>
<main>
    <div class="columns border header_datetime">
        {% include 'components/panel/header.html' %}
    </div>

    <div class="columns">
        <div class="column is-four-sixths animated bounceInUp" style="height: 100vh;">
            {% include 'components/panel/weather_widget.html' %}
        </div>

        <div class="column is-one-sixth header_datetime">
            <div class="columns animated bounceInRight">
                <div class="column">
                    <div style="display: flex;">
                        <div>
                            Состояние окна: &nbsp;
                        </div>
                    {% if door != 0 %}
                        {% if door.opened == True %}
                            <div style="color: red;">Закрыто</div>
                        {% else %}
                            <div style="color: green;">Открыто</div>
                        {% endif %}
                    {% else %}
                        <div style="color: yellow;" class="animated flash infinite delay-1s slow">Нет данных</div>
                    {% endif %}
                    </div>
                    <div>
                        Переключение между домами
                        {% include "components/panel/management_house.html" %}
                    </div>
                    <br>
                    <div>
                        Переключение между комнатами
                        {% include "components/panel/management_room.html" %}
                    </div>
                    <br>
                    <div>
                        Команды и сценарии
                        {% include "components/panel/scripts.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $(".hover").mouseleave(
        function () {
            $(this).removeClass("hover");
        }
    );

</script>
</body>
</html>
