<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Паттерны проектирования</title>
</head>
<body><!-- Yandex.Metrika counter -->
{% include "metrics.html" %}
{% include "onesignal.html" %}

<h1>Паттерны проектирования:</h1>
<ul>
    <li>Наследование - <i>templates/</i></li>
    <li>Декораторы - <i>views.py</i></li>
    <li>Адаптеры - <i>apps/social_auto_connect.py</i></li>
    <li>Мост - <i>Сайт в целом</i></li>
    <li>Компоновщик - <i>models.py</i></li>
</ul>
</body>
</html>