<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>{{ title }}</title>
    {% include "onesignal.html" %}
</head>

<body>
    {% include 'metrics.html' %}


    {{ text }}
    <br />
    Перенаправление через <span id="countDown">5</span> секунд.
    <br />
    <a href="{% url 'main' %}">На главную</a>
    <script type="text/javascript">
        var count = 5;
        setInterval(function() {
            count--;
            document.getElementById('countDown').innerHTML = count;
            if (count == 0) {
                window.location = "{% url 'main' %}";
            }
        }, 1000);

    </script>
</body>

</html>
